# 必填：二选一
WORKSPACE_PATH="YourApp.xcworkspace"
# PROJECT_PATH="YourApp.xcodeproj"

# 必填
SCHEME="YourScheme"

# 可选
CONFIGURATION="Release"
BUILD_DIR="./build"
EXPORT_METHOD="ad-hoc"   # app-store / ad-hoc / enterprise / development
CODE_SIGN_STYLE="Automatic"
RUN_POD_INSTALL=1

# 混淆参数
OBFUSCATION_SEED="$(date +%s)"   # 每次改动 seed，生成不同二进制
OBFUSCATION_HEADER_PATH="./Obfuscation/Confusion.h"
IDENTIFIER_MIN_LEN=5

# 仅混淆你项目前缀（建议）
INCLUDE_PREFIXES="APP,XYZ"

# 排除系统/三方常见前缀
EXCLUDE_PREFIXES="NS,UI,CA,CF,OS,WK,AV,MK,CI,CG,CT,AF,SD"
